{%  load static %}

<!DOCTYPE html>
<html lang="en">
<!--
    Webmaster: admin@chbresser.com
	Web Designer: Customized version of Gray scale Bootstrap4 Template from: https://startbootstrap.com/template-overviews/grayscale/
    Back-End Developer: Zach Bresser
 -->
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio for Zach Bresser">
    <meta name="author" content="Zach Bresser">

      <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link href="http://static.chbressertest.com/portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link type="text/css" rel="stylesheet" href="http://static.chbressertest.com/portfolio/vendor/textillate/animate.css">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="http://static.chbressertest.com/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://static.chbressertest.com/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://static.chbressertest.com/icons/favicon-16x16.png">
    <link rel="manifest" href="http://static.chbressertest.com/icons/site.webmanifest">
    <link rel="mask-icon" href="http://static.chbressertest.com/icons/safari-pinned-tab.svg" color="#4b87c6">
    <link rel="shortcut icon" href="http://static.chbressertest.com/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#4b87c6">
    <meta name="msapplication-config" content="http://static.chbressertest.com/icons/browserconfig.xml">
    <meta name="theme-color" content="#4b87c6">
    
    <!-- Redirect chbresser.com to https://www.chbresser.com in case of sensitive email info -->
    <script>
        if(document.location.href == 'http://chbresser.com'){
            document.location.href = 'https://chbresser.com';
        });
    </script>
    {% block page_css %}{% endblock page_css %}
  </head>
  <body id="page-top">
  {% block content %}{% endblock content %}
  <footer class="text-center">
		<a href="#">TOP</a>
        <a href="#about">ABOUT</a>
        <a href="#portfolio">PORTFOLIO</a>
        <a href="#contact">CONTACT</a>

        <br>
        <span class="copyright font-italic">Copyright &copy; CHBresser.com, all rights reserved.</span>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://static.chbressertest.com/portfolio/vendor/jquery/jquery.min.js"></script>
    <script src="http://static.chbressertest.com/portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://static.chbressertest.com/portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Textillate.js + dependency -->
    <script src="http://static.chbressertest.com/portfolio/vendor/textillate/lettering.js"></script>
    <script src="http://static.chbressertest.com/portfolio/vendor/textillate/textillate.js"></script>
	
	<!-- Custom scripts for this template -->
    <script src="http://static.chbressertest.com/portfolio/js/grayscale.js"></script>
	
	<!-- Form Validator -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.77/jquery.form-validator.min.js"></script>
	<script>
	  $.validate();
	</script>
  </body>
</html>
