{% load static %}

<!DOCTYPE html>
<html lang="en">
<!--
    Webmaster: admin@chbresser.com
	Web Designer: Zach Bresser, page made from scratch in likeness of the GrayScale template of the homepage.
    Back-End Developer: Zach Bresser
-->
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Main Content Pages of Zach Bresser's Portfolio">
      <meta name="author" content="Zach Bresser">

      <title>{% block title %}{% endblock title %}</title>

      <!-- Bootstrap core CSS -->
      <link href="http://static.chbressertest.com/portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom fonts for this template -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

      <!-- Base Page stylings -->
      <link href="http://static.chbressertest.com/portfolio/css/content_page.css" rel="stylesheet" type="text/css">

      <!-- Specific Styling, if applicable -->
      {% block page_css %}{% endblock page_css %}
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="http://static.chbressertest.com/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://static.chbressertest.com/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://static.chbressertest.com/icons/favicon-16x16.png">
    <link rel="manifest" href="http://static.chbressertest.com/icons/site.webmanifest">
    <link rel="mask-icon" href="http://static.chbressertest.com/icons/safari-pinned-tab.svg" color="#4b87c6">
    <link rel="shortcut icon" href="http://static.chbressertest.com/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#4b87c6">
    <meta name="msapplication-config" content="http://static.chbressertest.com/icons/browserconfig.xml">
    <meta name="theme-color" content="#4b87c6">
    <style>
        .formField {
           width: 99%;
           border: 0px;
           border-bottom: 1px solid #555555;
           color: #555555;
           background-color: #FCF9F9;
           min-height: 50px;
        }
        .formFieldHalf {
           width: 49%;
           display: inline-block;
        }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top"><i class="fa fa-home"></i>&nbsp; Zach Bresser</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#about">About &nbsp;<i class="fa fa-info-circle"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#services">Services &nbsp;<i class="fa fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio &nbsp;<i class="fa fa-folder-open"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/resume">Resumé&nbsp;<i class="fa fa-suitcase"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact &nbsp;<i class="fa fa-phone"></i></a>
            </li>
          </ul>
          {% if request.user.is_authenticated %}
          <div class='ml-auto d-inline'>
              <a class="nav-link"><i class="fas fa-user-tie"></i> Welcome, {{ request.user.username }}</a>
              <a class="nav-link mx-auto" href='{% url 'logout' %}'>Logout</a>
          </div>
          {% else %}
            <div class="ml-auto">
              <a class='nav-link' href='{% url 'login' %}?next={{request.path}}'><i class="fas fa-sign-in-alt"></i>Sign In</a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div id="wrapper">
      <div id="main-content" class="container-fluid">
        {% block content %}{% endblock content %}<br>
      </div>
    </div>
    <footer class="text-center">
		<a href="#">TOP</a>
        <a href="/#about">ABOUT</a>
        <a href="/#portfolio">PORTFOLIO</a>
        <a href="/#contact">CONTACT</a>
        <br>
        <span class="copyright font-italic">Copyright &copy; CHBresser.com, all rights reserved.</span>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://static.chbressertest.com/portfolio/vendor/jquery/jquery.min.js"></script>
    <script src="http://static.chbressertest.com/portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://static.chbressertest.com/portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template
    <script src="http://static.chbressertest.com/portfolio/js/grayscale.js"></script> -->
  </body>
</html>

