{% extends 'base.html' %}
{% load static %}
{% block title %}
    Zach Bresser's Portfolio
{% endblock title %}

    {% block page_css %}
    <!-- Custom styles for this template -->
    <link href="http://static.chbressertest.com/portfolio/css/grayscale.css" rel="stylesheet">
    <!-- Font for services section -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:600,700" rel="stylesheet">
    {% endblock page_css %}
    {% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fa fa-home"></i>&nbsp; Zach Bresser</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About &nbsp;<i class="fa fa-info-circle"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Services &nbsp;<i class="fa fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio &nbsp;<i class="fa fa-folder-open"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/resume">Resumé &nbsp;<i class="fa fa-suitcase"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact &nbsp;<i class="fa fa-phone"></i></a>
            </li>
          </ul>
          {% if request.user.is_authenticated %}
          <div class='ml-auto'>
              <a class="nav-link"><i class="fas fa-user-tie"></i> Welcome, {{ request.user.username }} | <a href='{% url 'logout' %}'>Logout</a></a>
          </div>
          {% else %}
            <div class="ml-auto">
              <a class='nav-link' href='{% url 'login' %}?next={{request.path}}'><i class="fas fa-sign-in-alt"></i>Sign In</a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
	       {% include 'messages.html' %}	
              <h1 class="brand-heading tlt">Zach Bresser</h1>
              <p class="intro-text tltFast">Back-End Python Developer / Network Support Specialist</p>
                <br>Whether your needs require a back-end developer, or a Network Support Specialist. Zach is your man.<br>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
		    <!-- Profile Image should go here -->
            <img src="http://static.chbressertest.com/portfolio/img/profile_pic.jpg" class="rounded-circle" style="width:100px; margin-bottom: 10px" />
            <h2>About Zach Bresser</h2>
            <p>Zach Bresser went to Merrill High School. Shortly after he started attending Western Michigan University,
			  then Kalamazoo Valley Community College for Software Development. </p>
			<p>He loves Networking and Software Development. He prefers Back-End Development, but when he
			   designs a page, he uses a combo of HTML + CSS + Jquery, and is very fond of the Bootstrap Framework.
			<p>You can view his full resumé <a href="/resume/">here.</a>
              
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="services-section content-section text-center" style="padding-bottom: 50px;">
        <div class="container">
            <h1 class="text-center brand-heading" style="text-decoration: underline;">My Services</h1><br>
            <div class="row">
                <div class="services-circle-wrapper">
                <div class="services-circle">
                    <!-- Credit to creator of image: https://www.freepik.com/free-vector/laptop-with-rocket_763378.htm -->
                    <img src="http://static.chbressertest.com/portfolio/img/laptop-with-rocket.png" style="margin: 0 auto;" />
                </div>
                </div>
                <h3 class="text-center" style="margin: 0 auto;">UI/UX Design</h3>
                <div class="services-circle-wrapper" style='margin-top: 50px;'>
                    <div class="services-circle">
                        <!-- Credit to creator of image: https://www.freepik.com/free-vector/linear-web-development-illustration_1166946.htm -->
                        <img src="http://static.chbressertest.com/portfolio/img/programming.png" style="margin: 20px auto 0 auto;" />
                    </div>
                </div>
                <h3 class="text-center" style="margin: 0 auto;">Full Stack Development</h3>
				<div class="services-circle-wrapper" style='margin-top: 50px;'>
                    <!-- Credit to creator of image: https://www.freepik.com/free-vector/cloud-access-linear-vector-elements_1106018.htm -->
					<div class="services-circle"><img src="http://static.chbressertest.com/portfolio/img/cloud-computing.png" style="margin: 0 auto;" /> </div>
				</div>
				<h3 class="text-center" style="margin: 0 auto;">Network Support</h3>
            </div>
        </div>
    </section>
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>View Zach's Portfolio</h2>
          <p>You can look at Zach's projects below.</p>
          <a href="/projects" class="btn btn-default btn-lg">Visit Project Page</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Zach Bresser</h2>
              <p>Feel free to use the links below to contact Zach Bresser.</p>
              <p class="font-italic medium">Note: Personal Contact information has been removed from Zach's Resumé, please send an email
                if more info is needed.</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <button id="emailButton" class="btn btn-default btn-lg">
                  <i class="fa fa-envelope fa-fw"></i>
                  <span class="network-name">Email</span>
                </button>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/CHBresser" class="btn btn-default btn-lg">
                  <i class="fab fa-github"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
			  <li class="list-inline-item">
			    <a href="/resume" class="btn btn-default btn-lg">
				  <i class="fa fa-briefcase fa-fw"></i>
				  <span class="network-name">Resumé</span>
				</a>
			  </li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
              <div style="display: none;" id="contact-div">
                <form method="post" action="" class="contact-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
					
                        {% for field in form %}
                            {% if field == form.name %}
                                <div class="fieldWrapper">
                                  {# We apply a class (formFielfHalf) on init for form.name and form.from_email that makes width 49% ( approximately half of the form div ) #}
                                  {{ form.name.errors }}
                                  {{ form.name }}
                                  {{ form.from_email.errors }}
                                  {{ form.from_email }}
                                </div>
                            {% elif field == form.from_email %}
                                {# Skip; We initialized form.from_email at the same time as form.name  #}
                            {% else %}
                              <div class="fieldWrapper">
                              {{ field.errors }}
                              {{ field }}
                              </div>
                            {% endif %}
                        {% endfor %}
                    <span class="font-italic xsmall text-left font-grey form-notation">Note: All fields are required.</span><br>
                    <button type="submit" class="btn btn-default btn-lg btn-bg-black">Send</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </section>
    {% endblock content %}
