{% extends 'content_page.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block page_css %}<link rel="stylesheet" href="http://static.chbressertest.com/portfolio/css/projects.css" type="text/css">{% endblock page_css %}
{% block content %}
    <div class="row">
	<div class="col-sm-12">
	  <h1 class="text-center">Projects</h1>
	  <hr>
	</div>
   </div>
    {% for project in projects %}
    <div class='row'>
     
      <!-- Breaks at 510px and Hides Image -->
      <div class='col-lg-4 project-img'>
        <img src='http://static.chbressertest.com{{ project.profile_pic }}' class='m-3' />
      </div>
      <div class='col-lg-8 my-auto'>
        <h2 class='text-center'><a href='{{project.project_path }}'>{{project.identifier}}</a></h2>
        <p class='d-inline'>{{ project.description }}</p>
      </div>
    </div>
    <hr>
    {% endfor %}
{% endblock content %}
