{% extends 'content_page.html' %}
{% load static %}
{% block title %}Resumé{% endblock title %}
{% block page_css %}<link rel="stylesheet" href="http://static.chbressertest.com/portfolio/css/resume.css" type="text/css">{% endblock page_css %}
{% block content %}
    <address>
       <img class="float-left img-thumbnail img-profile" src="http://static.chbressertest.com/portfolio/img/profile_pic.jpg" />
       <p class="text-center" style="padding-top: 10px; padding-bottom: 10px;margin-bottom:0;">Zach Bresser
           <br>admin@chbresser.com<br></p>
       <p class="small font-italic text-center">Note: personal contact information has been removed for privacy reasons.
           <br>Email for further contact methods.</p>
    </address>
    <p class="font-italic text-center font-weight-light" id="myDescription">IT Specialist with 3+ years of experience in information technology and networking. Highly familiar with a <br>
        wide variety of security, engineering, networking, and operating system software. Pursuing an Associate Degree in Software Development.</p>
    <hr>
    <div class="row">
        <div class="col-sm-12" >
            <h1 class="text-uppercase font-weight-bold lead" style="margin-bottom: 1.5px; margin-left: 50px;">Technical Skills</h1>
            <hr style="border: 2px solid black;margin-top: 0px; width: 95%">
        </div>
        <div class="col-sm-11 margin-middle">
            <ul class="resume-list">
                <li><span class="font-weight-bold text-uppercase">Security: </span> Firewall Configuration, User authentication, Client Isolation, VLAN Isolation</li>
                <li><span class="font-weight-bold text-uppercase">Administration: </span>Experience with Cisco IOS, Ubiquiti Unifi, EdgeOS, Active Directory, System Center Configuration Manager</li>
                <li><span class="font-weight-bold text-uppercase">Networking: </span>VLAN Configurations, DNS Servers, Web Server, TCP/IP Protocols, Subnetting, VPN Configuration(L2TP, PPTP, IPSEC), DHCP Servers, Static and Dynamic Routing</li>
                <li><span class="font-weight-bold text-uppercase">Operating Systems: </span>Windows XP, Vista, 7, 8, 10; Windows Server 2008, 2012, 2016; Linux including CentOS, Ubuntu, Debian; Unix including MacOS, some experience with FreeBSD</li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <h1 class="text-uppercase font-weight-bold lead" style="margin-bottom: 1.5px; margin-left: 50px;">Professional Experience</h1>
          <hr style="border: 2px solid black; margin-top: 0px; width: 95%">
      </div>
      <div class="col-sm-11 margin-middle">
          <div class="resume-hover">
          <span class="text-uppercase font-weight-bold">Summit Polymers, INC</span><a class="font-weight-bold text-md-right resume-right">Kalamazoo, MI</a><br>
          <span class="font-italic">IT Support Specialist, PC/Network</span><a class="font-italic text-md-right resume-right">January 2017 &mdash; Present</a><br>
          </div>
          <ul class="resume-list">
              <li>Maintained Active Directory for 11 Plants</li>
              <li>Investigate arising incidents caused by malicious activities, and identified false positives</li>
              <li>Performed daily backups on important systems</li>
              <li>Maintained both physical and virtual servers</li>
              <li>Provide PC and Network technical support and repair as needed.</li>
              <li>Troubleshoot and repair mobile devices</li>
              <li>Network installation and maintenance</li>
          </ul>
          <div class="resume-hover">
          <span class="text-uppercase font-weight-bold">Western Michigan University</span><a class="font-weight-bold text-md-right resume-right">Kalamazoo, MI</a><br>
          <span class="font-italic">Help Desk Technician</span><a class="font-italic text-md-right resume-right">June 2015 &mdash; January 2017</a><br>
          </div>
          <ul class="resume-list">
              <li>Service computer for students, faculty, and retirees</li>
              <li>Perform virus detection and removal for users</li>
              <li>Administered login information after authentication</li>
              <li>Troubleshoot issues with Office365</li>
              <li>Troubleshoot issues with a lab-based printing service</li>
          </ul>
          <div class="resume-hover">
          <span class="text-uppercase font-weight-bold">McDonald's</span><a class="font-weight-bold text-md-right resume-right">Hemlock, MI</a><br>
          <span class="font-italic">Crew Trainer</span><a class="font-italic text-md-right resume-right">July 2013 &mdash; August 2016</a><br>
          </div>
          <ul class="resume-list">
              <li>Responsible for training of new crew members</li>
              <li>Successfully completed over 30 mystery-shops with a 90%+ grade</li>
              <li>Responsible for quality and proper customer service</li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <h1 class="text-uppercase font-weight-bold lead" style="margin-bottom: 1.5px; margin-left: 50px;">Education and Professional Development</h1>
          <hr style="border: 2px solid black; margin-top: 0px; width: 95%">
      </div>
      <div class="col-sm-11 margin-middle">
          <div class="resume-hover">
          <span class="text-uppercase font-weight-bold">Kalamazoo Valley Community College</span><a class="font-weight-bold text-md-right resume-right">Kalamazoo, MI</a><br>
          <a class="font-italic font-weight-light" style="margin-left: 15px;">Associate Degree in Software Development, May 2020</a><br>
          </div>
          <div class="resume-hover" style="margin-top: 15px;">
              <span class="text-uppercase font-weight-bold">Kalamazoo Valley Community College</span><a class="font-weight-bold text-md-right resume-right">Kalamazoo, MI</a><br>
              <a class="font-italic font-weight-light" style="margin-left: 15px;">Certificate of Achievement in Network Management, December 2020</a><br>
          </div>
          <div class="resume-hover bottom-margin" style="margin-top: 15px;">
              <span class="text-uppercase font-weight-bold">Certifications</span><br>
              <a class="font-italic font-weight-light" style="margin-left: 15px;">Testout&reg; PC Pro &mdash;<a class="font-italic font-weight-light small" style="color: #048c61;" href="http://static.chbressertest.com/portfolio/pdf/PCProCert.pdf"> Certificate</a></a>
              <a class="font-italic font-weight-light text-md-right resume-right">Completion 12/17</a><br>

              <a class="font-italic font-weight-light" style="margin-left: 15px; margin-top: 10px;">Comptia&reg; A+ &mdash;<a class="font-italic font-weight-light small" style="color: #048c61;" href="http://static.chbressertest.com/portfolio/pdf/a+cert.pdf"> Certificate</a></a>
              <a class="font-italic font-weight-light text-md-right resume-right">Completion 12/17</a><br>
          </div>
      </div>
    </div>
{% endblock content %}
