{% extends 'content_page.html' %}
{% load static %}
{% block title %}Upload Form{% endblock title %}
{% block page_css %}<link rel="stylesheet" href="http://static.chbressertest.com/portfolio/css/projects.css" type="text/css">{% endblock page_css %}
{% block content %}
    <div class="row">
	<div class="col-sm-12">
	  <h1 class="text-center">Uploads</h1>
	  <hr>
          {% include 'messages.html' %}
	</div>
   </div>
    <div class='row'>
      <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type='submit' value="Submit" />
      </form> 
    </div>
    <hr>
{% endblock content %}
