{% extends "content_page.html" %}

{% block title %} Logged out of CHBresser.com {% endblock %}

{% block content %}
<div class='row'>
 <div class='col-4 mx-auto mt-md-4 text-center'>
   <p class='alert alert-success'>Success! You have been logged out.</p>
   <a href='{% url 'login' %}'>Click here to login again.</a>
 </div>
</div>
{% endblock %}
