{% extends "content_page.html" %}

{% block title %} Login to CHBresser.com {% endblock %}

{% block content %}

{% if form.errors %}
  <p class='alert alert-danger'>Your username and password didn't match. Please try again. </p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
      <p class='alert alert-danger'>Your account doesn't have access to this page. To process, please login with an account that has access. </p>
    {% else %}
      <p class='alert alert-warning'>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class='row'>
  <div class='col-4 mx-auto mt-md-3 text-center'>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type='text' name='username' id='id_username' placeholder='Username' class='formField formFieldHalf' />
    <input type='password' name='password' id='id_password' placeholder='Password' class='formField formFieldHalf' required />
    <input type='submit' placeholder='Login' class='btn btn-primary mx-auto mt-md-2' />
    <input type="hidden" name="next" placeholder="{{ next }}" />
    </form>
 

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>
{% endblock %}
