{% extends "content_page.html" %}

{% block title %} Password is reset {% endblock %}

{% block content %}
<div class='row'>
 <div class='col-4 mx-auto mt-md-4 text-center'>
   {% if validlink %}
     <p class='alert alert-info'>Please enter (and confirm) your new password. </p>
     <form action="" method='post'>
       {% csrf_token %}
       {% if form.new_password1.errors %}{{form.new_password1.errors}}{% endif %}
       <input type='password' id='id_new_password1' name='new_password1' placeholder='New Password...' class='formField formFieldHalf' required />
       {% if form.new_password2.errors %}{{form.new_password2.errors}}{% endif %}
       <input type='password' id='id_new_password2' name='new_password2' placeholder='Confirm new password...' class='formField formFieldHalf' required />
       <input type='submit' placeholder='Change My Password' class='btn btn-primary mx-auto' />
     </form>
   {% else %}
     <p class='alert alert-danger'>Password reset failed</p>
     <p class='alert alert-danger'>The password link was invalid, possibly because it has already been used. Please request a new password reset. </p>
   {% endif %}
 </div>
</div>
{% endblock %}
