{% extends "content_page.html" %}

{% block title %} Password is reset {% endblock %}

{% block content %}
<div class='row'>
 <div class='col-4 mx-auto mt-md-4 text-center'>
   <p class="alert alert-success">We have emailed you instruction for setting your password. If they haven't arrived in a few minutes, check your spam folder. </p>
 </div>
</div>
{% endblock %}
