{% extends "content_page.html" %}

{% block title %} Password is reset {% endblock %}

{% block content %}
<div class='row'>
 <div class='col-4 mx-auto mt-md-4 text-center'>
   <p class='alert alert-success'>The password has been changed! </p>
   <p><a href="{% url 'login' %}">Log In Again?</a></p>
 </div>
</div>
{% endblock %}
