{% extends "content_page.html" %}

{% block title %} Reset your Password {% endblock %}

{% block content %}
<div class='row'>
 <div class='col-4 mx-auto mt-md-4 text-center'>
   <p class='alert alert-warning'>Password Reset functionality is currently disabled. Please contact the admin at admin@chbresser.com for a password reset</p>
   <form action="" method='post'>
     {% csrf_token %}
       {% if form.email.errors %} {{ form.email.errors }} {% endif %}
       <input type='email' name='email' id='id_email' class='formField' placeholder='Enter your email...' required maxlength='254' />
       <input type='submit' class='btn btn-primary mt-md-2' placeholder="Reset Password" disabled />
   </form>
 </div>
</div>
{% endblock %}
