{% extends 'pokedex/base.html' %}
{% load static %}
{% block content %}
	<div class='container-fluid mt-lg-5 pt-lg-4'>
		<div class='row'>
			<div class='col bg-white border-blue p-0'>
				<img src="http://static.chbressertest.com/pokedex/img/ourmissionheading.png" class="w-100 p-0 m-0"/>
			</div>
		</div>
		<div class='row pt-lg-2'>
			<div class='col pl-4 ml-lg-2 mr-lg-2 bg-white border-blue'>
				<h1 class="mt-2">What makes up Chbresser.com?</h1>
                <hr>
                <p>CHBresser is an online portfolio, to demonstrate the capabilities I have and the design choices I make. It is hosted on an
                  Amazon AWS EC2 instance. You can read more about it <a href="/about">here.</a> </p>
                <p>Python Pokedex was created as a personal project to learn more about databases. It runs off of a database that a user named 'veekun' made. You can find it, and his various other downloads <a href="https://veekun.com/dex/downloads">here.</a></p><hr>
                <dl>
                    <dt>Front End</dt>
                    <dd>They both use HTML+Jquery, with bootstrap and additional css for styling.</dd>
                    <dt>Back End</dt>
                    <dd>They both are written in Python, using the Django web framework. </dd>
                </dl>
			</div>
		</div>
	</div>
{% endblock content %}
