{%  load static %}

<!DOCTYPE html>
<html lang="en">
<!--
    Webmaster: admin@chbresser.com
	Web Designer: Custom page designed by Zach Bresser
    Back-End Developer: Zach Bresser
 -->
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Python Pokedex">
    <meta name="author" content="Zach Bresser">

      <title>{% block title %}Python Pokedex{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link href="http://static.chbressertest.com/portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Autocomplete CSS -->
    <link rel='stylesheet' href="http://static.chbressertest.com/pokedex/vendor/easy-autocomplete/easy-autocomplete.css">
    <link rel="stylesheet" href="http://static.chbressertest.com/pokedex/vendor/easy-autocomplete/easy-autocomplete.themes.css">

    <!-- Custom fonts for this template -->
    <link href="http://static.chbressertest.com/portfolio/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" type="text/css">

    <!-- Favicon in PNG format (Won't display on IE < 11)
         Made by Zach Bresser in Adobe Illustrator
         Willing to release the file if requested. -->
    <link rel="shortcut icon" href="http://static.chbressertest.com/pokedex/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="http://static.chbressertest.com/pokedex/img/favicon.png" type="image/x-icon">

    <!-- Custom Page CSS -->
    {% block styles %}{% endblock styles %}
    {% block page_css %}<link rel="stylesheet" href="http://static.chbressertest.com/pokedex/css/styles.css">{% endblock page_css %}
    <script src="https://static.chbresser.com/portfolio/vendor/jquery/jquery.min.js"></script>
  </head>
  <body id="page-top">
    <nav class="text-uppercase navbar bg-primary fixed-top navbar-expand-lg font-heading" style="border-bottom: 1px solid #d6d1c4;">
        <a class="navbar-brand font-heading mr-auto" href="/pokedex/">Python Pokedex</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar navbar-nav ml-auto mt-2 mt-md-0 mx-4">
            <li class="nav-item">
              <a class="nav-link" href="/pokedex">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pokemon
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a href="/pokedex/pokemon" class="dropdown-item">Pokemon List</a>
                  <s><a class="dropdown-item">Pokemon Search</a></s>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/pokedex/about/'>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='/pokedex/about/'>Contact</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
          <div class='d-inline'>
              <a class="nav-link"><i class="fas fa-user-tie"></i> Welcome, {{ request.user.username }}</a>
              <a class="nav-link mx-auto" href='{% url 'logout' %}'>Logout</a>
          </div>
          {% else %}
            <div class="ml-auto">
              <a class='nav-link' href='{% url 'login' %}?next={{request.path}}'><i class="fas fa-sign-in-alt"></i>Sign In</a>
            </div>
          {% endif %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="text" placeholder="Search" id="search_field">
            <div class="my-2 my-sm-0 bg-primary mx-2" id="searchButton">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </form>
        </div>
    </nav>
    {% block content %}{% endblock content %}
    <footer class="font-heading mt-4">
        <hr class="w-100 mb-1 mt-5" style="border: 1px dashed #626c89;">
		<a class="text-left text-uppercase ml-3" href="#page-top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Back to top</a>
        <a class="text-right text-uppercase float-right mr-2" href='/pokedex/contact'>Contact Us</a>
        <hr style="border: 1px solid #626c89">
        <div class="text-uppercase w-100">
            <div class="float-left mx-2">
              <a class="text-left mx-2" href='/'>Home</a>
			  <a class="mx-2" href='/pokedex/pokemon/'>Pokemon</a>
			  <a class="mx-2" href='/pokedex/about'>About</a>
			  <a class="mx-2" href='/pokedex/contact'>Contact</a>
			  <a class="mx-2" href='/'>CHBresser.com</a>
            </div>
            <a class="text-uppercase font-italic float-right d-block mr-2 copyright">&copy; CHBresser.com, all rights reserved</a>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="http://static.chbressertest.com/portfolio/vendor/jquery/jquery.min.js"></script>
    <script src="http://static.chbressertest.com/portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://static.chbressertest.com/portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- JS for autocomplete -->
    <script src="http://static.chbressertest.com/pokedex/vendor/easy-autocomplete/jquery.easy-autocomplete.js"></script>

    <!-- Storing static path to json data for autocomplete,for use in pokedex.js -->
    <script>
        var json_data = "http://static.chbressertest.com/pokedex/data/pokedata.json";
    </script>
    {% block page_js %}<script src="http://static.chbressertest.com/pokedex/js/pokedex.js"></script>{% endblock page_js %}
  </body>
</html>
