{% extends 'pokedex/base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock styles %}
{% block content %}
    <div class="container-fluid" style="margin-top: 90px;">
      <div class="row p-3">
        <div class='col bg-darkpic border-black text-center p-md-4 text-white'>
        <div class="border-black bg-white rounded-corners p-md-2">
        <p class='small font-italic text-center'>Note: You can click on a items' row to take you to a detail page!</p>
        <table id="itemTable" class='table table-striped w-100' data-page-length='50' style='color: black;'>
              <thead>
                  <tr class="header">
                      <th class="center">ID</th>
                      <th class="center">Identifier</th>
                      <th class="center">Category</th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in items %}
                    <tr class='clickable-row hover' data-href='/pokedex/item/{{ item.0 }}'>
                    {% for value in item %}
                      <td>{{ value|stringformat:"s"|title }}</td>
                    {% endfor %}
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
          </div>
          </div>
      </div>
    </div>
{% endblock content %}
{% block page_js %}
  <script src="http://static.chbressertest.com/pokedex/js/pokedex.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function(){
      $('#itemTable').DataTable( {
        "autoWidth": false,
      });
      
      $(".clickable-row").click(function() {
          window.location = $(this).data('href'); 
      });
    });
  </script>
{% endblock page_js %}
