{% extends 'pokedex/base.html' %}
{% load static %}
{% load util %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock styles %}
{% block content %}
    <div class="container-fluid" style="margin-top: 90px;">
      <div class="row p-3">
        <div class='col bg-darkpic border-black text-center p-md-4 text-white'>
        <div class="border-black bg-white rounded-corners p-md-2">
        <p class='small font-italic text-center'>Note: You can click on a pokemon's row to take you to a detail page!<br>You can also use the Paginate buttons at the bottom to bring up the next 100 pokemon!</p>
        <table id="pokeTable" class='table table-striped w-100' data-page-length='100' style='color: #bdc0c4;'>
              <thead>
                  <tr class="header">
                      <th class="center"></th>
                      <th class="center">ID</th>
                      <th class="center">Name</th>
                      <th class="center">Height</th>
                      <th class="center">Weight</th>
                  </tr>
              </thead>
              <tbody>
                  {% for pokemon in poke %}
                    <tr class='clickable-row hover' data-href='/pokedex/pokemon/{{ pokemon.0 }}'>
                    {% if pokemon.0 < 721 %}
                        <td class='p-0'><img src="http://static.chbressertest.com/pokedex/img/profiles/{{ pokemon.0 }}-small.png" /> </td>
                    {% else %}
                        <td class='p-0'></td>
                    {% endif %}
                    {% for stat in pokemon %}
                          <td>{{ stat|stringformat:"s"|title }}</td>
                    {% endfor %}
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
          </div>
          {% if page != '1' %}
            <span class="text-left float-left ml-3 mt-3 font-heading font-white"><a class="pokeNavigation" href="/pokedex/pokemon/?page={{page|add:"-1"}}"><i class="fas fa-angle-left mr-auto"></i> Previous Page</a></span>
          {% endif %}
          {% if page != '9' %}
            <span class="text-right mr-2 float-right mt-3 font-heading font-white"><a class="pokeNavigation" href="/pokedex/pokemon/?page={{page|add:"1"}}">Next Page <i class="fas fa-angle-right ml-auto"></i></a></span>
          {% endif %}
          </div>
      </div>
    </div>
{% endblock content %}
{% block page_js %}
  <script src="http://static.chbressertest.com/pokedex/js/pokedex.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function(){
      $('#pokeTable').DataTable( {
        "autoWidth": false,
        "order": [[ 1, "asc" ]]
      });
      
      $(".clickable-row").click(function() {
          window.location = $(this).data('href'); 
      });
    });
  </script>
{% endblock page_js %}
