{% extends 'pokedex/base.html' %}
{% load static %}
{% block styles %}
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock styles %}
{% block content %}
    <div class="container-fluid" style="margin-top: 90px;">
      <div class="row mt-lg-2">
          <div class="col-lg-3 ml-lg-2 text-center bg-brown p-md-3 border-black" style="border: 3px solid white; outline: 1px solid black;">
              <h3 id="pokemonTitle">{{ pokemon.identifier }}<span style="font-size: 18px;"> #{{ pokemon.id }}</span></h3>
              <div id="pokemonProfile" class="bg-white">
                  <img src="http://static.chbressertest.com/{{ pokemon.static_path }}"/>
              </div>
              <div id='gender-div' class=" mt-3 py-3 px-5 bg-beige border-black" style="overflow: hidden;">
                <h4 style="border-bottom: 1px solid #626c89;" class="font-arcade mb-md-4">Gender Rates:</h4>
                <a class="float-left" id="percent-male"><i class="mr-2 fa fa-mars"></i>{% if pokemon.percent_male %}{{ pokemon.percent_male }}{% else %}0{% endif %}% Male</a>
                <a class="float-right" id="percent-female">{% if pokemon.percent_female %}{{ pokemon.percent_female }}{% else %}0{% endif %}% Female<i class=" ml-2 fa fa-venus"></i> </a>
              </div>
          </div>
          <div class="col-lg-3 mx-lg-2 bg-brown p-lg-2 border-black">
              {% if pokemon.description %}
                  <div class="bg-white rounded-corners m-2 p-2 border-black">
                    <blockquote class="blockquote">
                      <p class="font-arcade mx-2" style="font-size: 14px; text-shadow: .5px 1px 3px rgba(0, 0, 0, .7);-webkit-text-stroke-width: .1px;-webkit-text-stroke-color: #d6d1c4;">{{ pokemon.description }}</p>
                        <footer class=" ml-4 blockquote-footer">From Nintendo's Website</footer>
                    </blockquote>
                  </div>
              {% else %}
                  <div class="bg-white rounded-corners m-2 p-2 border-black">
                    <p class="font-cabin mx-2" style="font-size: 22px; text-shadow: .5px 1px 3px rgba(0, 0, 0, .7);-webkit-text-stroke-width: .1px;-webkit-text-stroke-color: #d6d1c4;">
                        {{ pokemon.identifier }} (#{{ pokemon.id }}) is a {% if pokemon.height > 1 %}big{% else %}small{% endif %} pokemon.
                    </p>
                  </div>
              {% endif %}
              <div class="bg-white mt-2">
                <table class="table-striped table table-bordered table-hover text-center">
                    <tr>
                        <td class="font-weight-bold">Type: </td>
                        <td class="p-0">
                            <table align="center" class="h-100 w-100 m-0">
                              <tr>
                                {% for row in pokemon.type %}
                                    <td class="text-center bg-{{ row }}">{{ row.title }}</td>
                                {% endfor %}
                              </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Height: </td>
                        <td>{{ pokemon.height }}<small> m</small></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Weight: </td>
                        <td>{{ pokemon.weight }}<small> kg</small></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Base Experience: </td>
                        <td>{{ pokemon.base_experience }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Abilities: </td>
                        <td class="p-0">
                          <table class="h-100 w-100 m-0">
                              <tr>
                                  {% for each in pokemon.abilities %}
                                      <td>{{ each.title }}</td>
                                  {% endfor %}
                              </tr>
                          </table>
                        </td>
                    </tr>
                </table>
              </div>
          </div>
          <div class="col mr-lg-2 border-black bg-brown pb-3 pt-1 px-2">
              <div class="panel panel-default px-lg-2 pt-lg-2" id="stats">
                <h1 style="text-shadow: 2px 3px 7px rgba(0, 0, 0, .7);-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: black;">Stats</h1>
                <div class="m-lg-3 bg-darkgrey rounded-corners border-black p-3">
                {% for column in pokemon.stats %}
                    {% for key,item in column.items %}
                      <h6>{{ key.title }}</h6>
                      <div class="contain">
                        <div class="skills {{ key }}" style="width: {% if item < 100 %}{{ item }}{% else %}100{% endif %}%">{{ item }}</div>
                      </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
          </div>
      </div>
      <div class="row mt-lg-3 px-lg-2">
          <div class="col text-center bg-brown border-black">
            <h1 style="text-shadow: 2px 3px 7px rgba(0, 0, 0, .7);-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: black;">Evolution Chain</h1>
          </div>
      </div>
      <div class="row mt-lg-1 px-lg-1">
          {% for evolution in pokemon.evolution_chain %}
            <div class="col mx-lg-1 evolution-lg bg-brown border-black text-center">
                {% if pokemon.evolution_chain|length == 1 %}
                   <h5 style="text-shadow: 2px 3px 7px rgba(0, 0, 0, .7);-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black">{{ pokemon.identifier }} does not evolve.</h5>
                {% endif %}
                {% for key, item in evolution.items %}
                    {% if key == 'id' %}
                        <div><img style="width: 150px;" class="d-block mx-auto" src="http://static.chbressertest.com/pokedex/img/profiles/{{ item }}.png" /></div><hr>
                        <h4 style="text-shadow: 2px 3px 7px rgba(0, 0, 0, .7);-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black">
                            <a href="/pokedex/pokemon/{{ item }}" id="evolution_link"><span style="font-size: 18px;">#{{ item }}</span></a></h4>
                    {% else %}
                               <h4> {{ item.title }}</h4>
                    {% endif %}
                {% endfor %}
            </div>
          {% endfor %}
      </div>
      <div class='row mt-lg-3 px-lg-2' id="movesRow">
        <div class='col bg-darkpic border-black text-center p-md-4'>
          <table id="movesTable" class='table table-striped w-100'>
              <thead>
                  <tr class="header">
                      <th class="center">Move</th>
                      <th class="center">Type</th>
                      <th class="center">Power</th>
                      <th class="center">PP</th>
                      <th class="center">Accuracy</th>
                  </tr>
              </thead>
              <tbody>
                  {% for row in pokemon.moves %}
                    <tr>
                    {% for item in row %}
                      {% if item in pokemon.available_types %}
                          <td class="bg-{{item}}">{{ item.title }}</td>
                      {% else %}
                          <td>{{ item|stringformat:"s"|title }}</td>
                      {% endif %}
                    {% endfor %}
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>  
    </div>
    
{% endblock content %}

{% block page_js %}
  <script src="http://static.chbressertest.com/pokedex/js/pokedex.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function(){
      $('#movesTable').DataTable( {
        "autoWidth": false
      });
    });
  </script>
{% endblock page_js %}  
 
