{% extends 'pokedex/base.html' %}
{% load static %}
{% block content %}
    <header class="align-middle text-center">
        <h2>Python Pokedex is an accumulation of Pokemon Stats, Trivia, and Information</h2>
        <div class="mx-auto w-100 px-auto"><a class="btn btn-lg btn-primary text-uppercase mt-5" href="/pokedex/pokemon/">Get Started</a></div>
    </header>
    <div class="container-fluid">
      <div class="row pt-lg-2">
          <div class="col bg-black text-center border-black mx-lg-2 px-0">
              <!-- No credit was requested, but I feel that it is necessary. This is a modified version
                  of this banner: https://youtu.be/6tWpDun1rCQ -->
              <img src="http://static.chbressertest.com/pokedex/img/banner.png" class="w-100 p-0 m-0" id="banner" />
          </div>
      </div>
      <div class="row pt-lg-2">
        <div class="col-lg-6 ml-lg-2 mr-lg-2 bg-black text-center px-0 border-black" id='pokemonlink'>
			<div id="pokemonContainer">
              <h1 class="text-uppercase pt-lg-6">Get Ready...</h1>
			  <div class="my-md-5 pt-lg-6 mx-auto"><a class="btn btn-default btn-lg font-red" href="/pokedex/pokemon/" style='border: 1px solid #F00000'>View All Pokemon</a></div>
			</div>  
            
		</div>
        <div class="col mr-lg-2 bg-black text-center text-uppercase px-0 pb-0 img-lg-hide border-black">
			<img src="http://static.chbressertest.com/pokedex/img/pokeball.png" class='align-middle' style='opacity: .7' />
			<div class='bg-lightblue w-100 bottom-div mt-xl-3'>
              <a href='/pokedex/pokemon' class="btn btn-lightblue my-3 mx-auto p-3">View All Items</a>
			</div>  
        </div>
        <div class="col mr-lg-2 bg-black text-center text-uppercase mr-auto px-0 pb-0 img-lg-hide border-black">
			<img src="http://static.chbressertest.com/pokedex/img/kanto-map-thumb.png" class='align-middle' style='opacity: .7' />
			<div class='bg-lightblue w-100 bottom-div mt-xl-4-5'>
              <a href='/pokedex/pokemon' class="btn btn-lightblue my-3 mx-auto p-3">View All Maps</a>
			</div>
		</div>
      </div>
    </div>
    <script>
      $().ready(function(){
         $('#pokemonlink').click(function(){
           window.location.href = '/pokedex/pokemon';
         });
      });
    </script>
{% endblock content %}
